* {
    margin: 0;
    font-family: 'Open Sans';
}

h2{
    font-weight: 800 ;
}

.hello{
    font-weight: normal;
    font-size: 40px;
}

h1{
    font-weight: 700;
    font-size: 70px;
}
.header{
    background-color: #FFF8F3;
    background-image: url('./images/developer.png');
    background-repeat: no-repeat;
    background-position: left;
    background-position-x: 50px;
    background-size: 75px;
}
nav {
    display: flex;
    justify-content: space-between;
    margin: 0px 200px;
    padding-top: 50px;
    height: 15px;
    align-items: center;
}

nav ul li {
    list-style: none;
    margin-right: 50px;
}

nav li a {
    text-decoration: none;
}

nav ul {
    display: flex;
    align-items: center;
}

.navtitle{
    font-weight: 800px;
    font-size: 35px;
}

.hire{
    width: 120px;
    height: 50px;
    background-color: #FD6E0A;
    border: 0ch;
    border-radius: 5px;
    font-weight:600;
    font-size: 17px;
}

.download{
    width: 150px;
    height: 50px;
    background-color: #FD6E0A;
    border: 0ch;
    border-radius: 5px;
    font-weight:600;
    margin-top: 30px;
    font-size: 17px;
}

.contact{
    width: 150px;
    height: 50px;
    border-color: #FD6E0A;
    border-radius: 5px;
    font-weight:600;
    margin-left: 2ch;
    margin-top: 30px;
    font-size: 17px;
    background-color: transparent;
}

.text-primary {
    color: #FD6E0A;
}

.whitetext{
    color: white;
}

.orangetext{
    color: #FD6E0A;
}

.banner{
    display: flex;
    align-items: center;
}

.intro{
    margin-left: 200px;
}

.junayed{
    height: 576px;
    background-image: url('./images/header_bg.png');
    position:sticky;
    background-size: cover;
}

.about_section{
    margin-left: 17%;
    margin-right: 17%;
    padding-top: 95px;
    margin-bottom: 95px;
    align-items: center;
}

.ido_sec{
    margin-left: 13%;
    margin-right: 13%;
    margin-bottom: 95px;
    align-items: center;
}
.about{
    background-color: #FFF8F3;
    width: auto;
    padding: 100px;
    text-align: center;
}

.info{
    display: flex;
    text-align: center;
    align-items: center;
}

p{
    margin-top: 25px;
    margin-bottom: 25px;
}

.infodiv{
    margin: 20px;
    align-items: center;
}

.ido{
    text-align: center;
    align-items: center;
    
}

.cardsec{
    display: flex;
    align-items: center;
}
.card{
    text-align: left;
    border-radius: 5px;
    background-color: rgb(241, 238, 238);
    padding: 20px;
    margin: 20px;
}